<div class="single-post text-center">
  <h2 class="single-post-header">{{name}}</h2>
  <p class="post-description">{{description}}</p>
  <p class="post-info">Created by {{user.name}} on {{format_date date_created}}</p>
  <button class="back-btn btn btn-sm" onclick="window.history.back()">⇦ Back</button>
</div>