@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

header,
.post:not(:last-child),
.current-post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.single-post {
  border-bottom: 1px solid #ccc;
}

.welcome {
  text-align: center;
  margin: 24px 12px 80px 12px;
}

.welcome h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 12px;
}

.welcome-name {
  font-family: 'Playfair Display', serif;
  color: #be4242;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #922b2b;
  transition: color 0.1s ease-in-out;
}

.nav-title {
  font-family: 'Playfair Display', serif;
  color: black;
}

.nav-title:hover {
  color: #000000;
  text-decoration: none;
}

.homepage-cards {
  background-color: #e7e7e796;
  padding: 24px;
  border-radius: 24px;
}

.homepage-cards-username {
  font-weight: bold;
}

.login-signup {
  margin-top: 60px;
}

.signup {
  border-left: 1px solid #9d9c9c;
}

.login button {
  color: #ffffff;
  background-color: #a33a3a;
}

.login button:hover {
  color: #efefef;
  background-color: #922b2b;
}

.signup button {
  color: #ffffff;
  background-color: #a33a3a;
}

.signup button:hover {
  color: #efefef;
  background-color: #922b2b;
}

.main-header {
  background-color: #f3f3f3;
}

.main-nav a {
  margin-right: 8px;
  color: #000000;
}

.main-nav a:hover {
  color: #922b2b;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

.single-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #f3f3f3;
  padding: 24px;
  border-radius: 24px;
}

.single-post-header {
  color: #be4242;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

.back-btn {
  border-style: none;
  background-color: #be4242;
  color: #ffffff;
}

.back-btn:hover {
  background-color: #922b2b;
  color: #efefef;
}

.post-name {
  color: #be4242;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

.post-name:hover {
  color: #922b2b;
  transition: color 0.1s ease-in-out;
  text-decoration: none;
}

.single-post-description {
  max-width: 750px;
}

.single-post-info {
  font-size: 15px;
}

.single-post-username {
  font-weight: bold;
}

.post-list {
  border-left: 1px solid #9d9c9c;
}

.current-post {
  background-color: #e7e7e796;
  padding: 8px;
  margin-left: 1px;
  border-radius: 10px;
}

.create-post-title {
  font-family: 'Playfair Display', serif;
}

.current-posts-title {
  font-family: 'Playfair Display', serif;
  margin-bottom: 24px;
}

.current-post-name {
  color: #000000;
  font-family: 'Playfair Display', serif;
}

.current-post-name:hover {
  color: #922b2b;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

.create-btn {
  color: #ffffff;
  background-color: #a33a3a;
}

.delete-btn {
  color: #ffffff;
  background-color: #a33a3a;
  
}

.delete-btn:hover {
  color: #efefef;
  background-color: #922b2b;
}

.create-btn:hover {
  color: #efefef;
  background-color: #922b2b;
}

/* MEDIA QUIRIES */
@media only screen and (max-width: 750px) {

  /* LOGIN PAGE */
  .login-signup {
    text-align: center;
  }
  
  .login-form {
    padding-bottom: 44px;
    margin-bottom: 50px;
    border-bottom: 1px solid #9d9c9c;
  }
  
  .signup-form {
    margin-bottom: 55px;
  }
  
  .signup {
    border-left: none;
  }

  /* HOMEPAGE */
  .welcome p {
    font-size: 15px;
  }

  .homepage-cards {
    margin: 0 8px 36px 8px;
    text-align: center;
  }

  .post-name {
    font-size: 22px;
    margin: 0;
    display: block;
  }

  .post-info {
    font-size: 14px;
  }

  .post-desc {
    font-size: 16px;
  }

  /* PROFILE */
  .create-a-post {
   margin-bottom: 40px;
  }

  .welcome-header {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .create-post-title {
    text-align: center;
  }

  .create-btn-form {
    text-align: center;
  }

  .current-posts-title {
    text-align: center;
  }

  .post-list {
    margin-right: 16px;
  }
  
  .current-post {
    margin-bottom: 20px;
    text-align: center;
  }

  .current-post-name {
    font-size: 20px;
  }

  .delete-btn {
    margin: 12px 0 12px 0;
  }

  /* INDIVIDUAL POST */
  .single-post-header {
    font-size: 22px;
  }

  .single-post-description {
    font-size: 16px;
  }

  .single-post-info {
    font-size: 14px;
  }

  
}